/* To-Do-list page */

.todo-table {
  counter-reset: todoRowNumber;
  margin-bottom: 1em;

  td {
    padding: .5em;

    margin: 1em;
    @media screen and (max-width: $break-small) {
      margin: 0px;
      .small-icon {
        font-size: .5em;
      }
    }
  }

  .todo-item-main {
    counter-increment: todoRowNumber;

    &:hover {
      background-color: #ccffcc;
    }

    td {
      padding-bottom: 0px;

      &:first-child::before {
        content: counter(todoRowNumber) ".";
        min-width: 1em;
      }
      &:nth-child(1) {
        text-align: right;
      }
      &:nth-child(2), 
      &:nth-child(3) {
        text-align: left;
      }
    }
  }
  .todo-item-description td {
    font-size: 10pt;
    padding-top: 2px;
    text-align: center;
  }
}

#todo-table-status {
  margin-top: 0px;
}

.completed-table {
  counter-reset: completedRowNumber;
  margin-top: 2em;

  font-size: 12pt;
  @media screen and (max-width: $break-small) {
    font-size: .8em;

    .small-icon {
      font-size: .5em;
    }
  }

  th {
    margin-bottom: 1em;
    text-align: center;
  }

  .completed-item-main {
    counter-increment: completedRowNumber;
    td:first-child::before {
      content: counter(completedRowNumber) ".";
      min-width: 1em;
    }
  }
}

