body {
  background: white
    url(/resources/images/dunkhut_bg.gif)
    repeat
    top left;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  color: #402;
}

.big-block {
  padding: 10em;
}

.container {
}

.content {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  min-height: 200px;
  min-width: 800px;
  width: 50%;
}

